:root {
  /* ### Primary */

  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* ### Neutral */

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla", sans-serif;
}

body {
  background-color: var(--Light-Gray);
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  width: 700px;
  height: 500px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  overflow: hidden;
}

header,
.subscription,
.why-us {
  padding: 40px 40px;
}

header {
  grid-column: 1 / -1;
  grid-row: 1;
  padding-bottom: 10px;
}

h1 {
  margin-bottom: 24px;
  color: var(--Cyan);
}

header > h2 {
  margin-bottom: 24px;
  color: var(--Bright-Yellow);
  font-size: calc(20rem / 16);
}

header > p {
  color: var(--Grayish-Blue);
}

.subscription,
.why-us {
  color: white;
}

.subscription {
  grid-column: 1;
  grid-row: 2;
  background-color: var(--Cyan);
}

.why-us {
  grid-column: 2;
  grid-row: 2;
  background-color: rgb(60, 201, 189);
}

.why-us > h2,
.subscription > h2 {
  margin-bottom: 18px;
  font-size: calc(20rem / 16);
}

.subscription > h3 {
  margin-bottom: 18px;
  font-size: calc(18rem / 16);
  font-weight: 400;
}

.subscription > h3 > strong {
  font-size: calc(32rem / 16);
  margin-right: 10px;
}

.subscription > button {
  display: block;
  background-color: var(--Bright-Yellow);
  border: none;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.096);
  color: white;
  margin: 0 auto;
  margin-top: 24px;
}
